@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body{
	font-size: 100%;
	/*background: linear-gradient(68.15deg, #d8d8d8 15.62%, #ffffff 16.61% );*/
	color: rgb(0, 0, 0);
}

/*.logo{
	width: 310px;
	height: auto;
	border-radius: 0%;
}*/

.logo-direito {
    width: 80px;
    margin-left: auto; 
	align-items: left;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-menu{
	display: flex;
	gap: 32px;
	align-items: left;
}

.cabecalho-menu-item{
	font-family: 'Sarala', sans-serif;
	margin-top: 15px;
	color:#000;
	font-weight: 700;
	font-size: 18px;
	align-items: end;
}

/*.logo-corpo{
	border-radius: 50%;
	margin-top: 20px;
	width: 400px;
	height: 400px
}*/

.conteudo{
	margin-top: 100px;
	border-bottom: 0.9px solid rgb(23, 21, 21);
}

.conteudo-principal{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.conteudo-principal-escrito{
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.conteudo-principal-escrito-titulo{
	font-family: 'Righteous', cursive;
	font-weight: 700;
	font-size: 64px;
	color:#000;
}

h2{
	font-family: 'Libre Baskerville', serif;    
	font-weight: 400;
	font-size: 24px;
	color: #000;
}

.botao{
	align-items: center;
	background-color: #7d8b8c;
	width: 185px;
	height: 67px;
	border: none;
	box-shadow: 4px 5px 4px rgba(255, 251, 251, 0.25);
	border-radius: 20px;
	font-family: 'Righteous', cursive;
	font-weight: 400;
	font-size: 20px;
	color: #000;
	display: inline-block;
	margin: 5px 10px;
	padding: 10px 20px;
}

.botao:hover{
	background-color: rgb(42, 44, 42);
	transition: 0.9s;
}

a{
	color: #ffffff;
}

.intro-style{
    margin: 50px;
}

.conteudo-secundario{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	margin-top: 48px;
}

.conteudo-secundario-titulo{
	border-top: 0.4px solid #000;	
	padding-top: 48px;
	font-family: 'Libre Baskerville', serif;    
	font-weight: 600;
	font-size: 24px;
	margin-bottom: 16px;
}

/*ignorar esta parte pois foi atribuido ao html a propriedade tabela*/
/*.conteudo-terciario{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	margin-top: 48px;
}

.conteudo-terciario-titulo{
	border-top: 0.4px solid #000;
	padding-top: 48px;
	font-family: 'Libre Baskerville', serif;    
	font-weight: 400;
	font-size: 24px;
	margin-bottom: 16px;
}

p{
	font-family: 'Times New Roman', Times, serif;
	font-weight: 400;
	font-size: 18px;
	margin-bottom: 9px;
}

.texto-integrante{
	text-align: center;
	font-size: medium;
}

.titulo-integrante{
	text-alignmargin: 0 auto;margin: 0 auto;margin: 0 auto;margin: 0 auto;margin: 0 auto;margin: 0 auto;margin: 0 auto;margin: 0 a;
	font-weight: bold;
} */

.main{
	/*border-bottom: 0.4px solid white;*/
}


.container{
	border-bottom: none;
} 

.container-tabela{
	text-align: center; /* Centraliza o conteúdo dentro da tabela */
}

.foto-integrante{
	border-radius: 50%;
	height: 160px;
	width: auto;
	display: inline-block;
	margin-top: 30px;
	
}

.titulo-integrante{
	margin-top: 15px;
	margin-bottom: 10px;
	color: #000;
}

.texto-integrante{
	margin-bottom: 10px;
	color: #000;
	text-align: center;	
}

.configuracao{
	flex-direction: row;
	margin-bottom: 0px;
	border-top: none;
	margin-bottom: 50px;
}

/*.rodape{
	margin-top: 100px;
	padding: 50px;
	border-top: 0.4px solid #000;
}

.tabela-fotos{
	border-collapse: collapse; 
}*/

.rodape-informacoes{
	margin-top: 50px;
	background-color: #cbcbcb;
}

.copyright{
	
	margin-left: 16px;
	padding-top: 100px;
	padding-bottom: 9px;
	line-height: 0.65;
	border-bottom: none;
	text-align: center;
	font-size: small;
}

.copyright-text{
	border-top: 0.4px solid #7d8b8c;
}

.atendimento{
	margin-left: 16px;
	padding-top: 100px;
	padding-bottom: 9px;
	line-height: 0.90;
	border-bottom: none;
	text-align: center;
}

footer{
	border-top: solid 0.4px rgba(255, 255, 255, 0.836);
}


/*NÃO SÃO NECESSÁRIAS ALTERAÇÕES NO CARROSSEL DE TICKERS DA BOLSA - CÓDIGO RETIRADO DO SITE E-ESTADAO*/

.ticker-container {
	border-top: 0.4px solid #000;
	border-bottom: 0.4px solid #000;
	padding: 10px 0;
	background-color: #fff;
	overflow:hidden;
	font-family: 'Righteous', cursive;
}

.ticker-disclaimer {
	color: #fefdfd;
	text-transform: lowercase;
	font-size: 10px;
	font-weight: 500;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	letter-spacing: 1px;
	background: #f5f5f5;
	padding: 16px 10px 17px;
	position: absolute;
	right: 0;
	pointer-events: none;
	top: 0;
	border-left: 1px solid #e2e4e3;
}

.ticker-container .ticker-carroussel::-webkit-scrollbar {
	display: none;
}

.ticker-container .ticker-content {
	white-space: nowrap;
	animation: marquee 40s linear 8s infinite;
	display: inline-block;
}

.ticker-container:hover .ticker-content {
	animation-play-state: paused;
}

@keyframes marquee {
	0% {
    	transform: translate(0, 0)
	}

	100% {
    	transform: translate(-100%, 0)
	}
}

.ticker-container {
	padding: 10px 0;
	background-color: #fff;
	overflow: hidden;
}

.ticker-disclaimer {
	color: #000;
	text-transform: lowercase;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 1px;
	background: #f5f5f5;
	padding: 16px 10px 17px;
	position: absolute;
	right: 0;
	pointer-events: none;
	top: 0;
	border-left: 1px solid #f5f5f5;
}

.ticker-container .ticker-carroussel::-webkit-scrollbar {
	display: none;
}

.ticker-container .ticker-content {
	white-space: nowrap;
	animation: marquee 40s linear 8s infinite;
	display: inline-block;
}

.ticker-container:hover .ticker-content {
	animation-play-state: paused;
}

@keyframes marquee {
	0% {
    	transform: translate(0, 0)
	}

	100% {
    	transform: translate(-100%, 0)
	}
}

.ticker-container .ticker-content .ticker-content-aditional {
	float: right;
	position: absolute;
	display: inline-block;
}

.indicador {
	font-weight: 700;
	font-size: 11px;
	letter-spacing: 0.8px;
	position: relative;
	color: inherit;
	padding: 6px 20px;
	border-right: 1px solid #ffffff;
	display: inline-block;
	text-align: left;
}

.indicador .indicador-title {
	margin-right: 8px;
	font-weight: 900;
}

.indicador .indicador-value {
	margin-right: 8px;
}

.indicador .indicador-spread {
	padding: 3px 7px;
	border-radius: 3px;
	color: #ffffff;
	transition: top 0s 0.5s ease ;
}

.indicador.negativo .indicador-spread {
	background-color: #FF9688;
}
.indicador.positivo .indicador-spread {
	background-color: #d0d4ae;
}

/*TERMINO DO CÓDIGO QUE PERSONALIZA O CARROSSEL DE TICKERS DA BOLSA - CÓDIGO PRONTO, NÃO ALTERAR*/