@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #d8d8d8 15.62%, #ffffff 16.61% );
    color: rgb(0, 0, 0);
}

.logo{
    width: 310px;
    height: auto;
    border-radius: 0%;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
    font-family: 'Sarala', sans-serif;
    color:#000;
    font-weight: 700;
    font-size: 18px;
}

.logo-corpo{
    border-radius: 50%;
    margin-top: 20px;
    width: 400px;
    height: 400px
}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid rgb(23, 21, 21);
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.conteudo-principal-escrito-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 700;
    font-size: 64px;
    color:#000;
}

h2{
    font-family: 'Libre Baskerville', serif;    
    font-weight: 400;
    font-size: 24px;
    color: #000;
}

.botao{
    background-color: #7d8b8c;
    width: 185px;
    height: 67px;
    border: none;
    box-shadow: 4px 5px 4px rgba(255, 251, 251, 0.25);
    border-radius: 20px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 20px;
    color: #000;
    display: inline-block; 
    margin: 5px 10px; 
    padding: 10px 20px;
}

.botao:hover{
    background-color: rgb(42, 44, 42);
    transition: 0.9s;
}

a{
    color: #ffffff;
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo{
    border-top: 0.4px solid #000;
    padding-top: 48px;
    font-family: 'Libre Baskerville', serif;    
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 16px;
}


.conteudo-terciario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-terciario-titulo{
    border-top: 0.4px solid #000;
    padding-top: 48px;
    font-family: 'Libre Baskerville', serif;    
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 16px;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 9px;
}

.texto-integrante{
    text-align: center;
    font-size: medium;
}

.titulo-integrante{
    text-align: center;
    font-weight: bold;
}

.foto-integrante{
    border-radius: 50%;
    height: 250px;
    width: auto;
    display: inline-block;
    margin-right: 10px;
}

.rodape{
    padding: 32px;
    border-top: 0.4px solid #000;
}

.rodape-imagem{
    height: 60px;
    display: block;
    margin: 0 auto;
}