*{
    box-sizing: border-box; 
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}

body{
    font-size: 100%;
    /*background: linear-gradient(68.15deg, #d8d8d8 15.62%, #ffffff 16.61% );*/
    color: rgb(0, 0, 0);
}

.logo{
    width: 310px;
    height: auto;
    border-radius: 0%;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.content{
    border-top: 0.4px solid #000;

}

.introducao-paragrafo{
    text-indent: 55px;
}

.cdb-paragrafo{
    text-indent: 55px;
}

.poupanca-paragrafo{
    text-indent: 55px;
}

.lca-paragrafo{
    text-indent: 55px;
}

.lci-paragrafo{
    text-indent: 55px;
}

.cdb-ul{
    text-indent: 55px;
}