@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    padding: 5px;
    margin: 10px;
    text-decoration: none;
}

.titulo-paragrafo{
    font-family: 'Righteous', cursive;
    font-size: xx-large;
    font-weight: none;
    /*background: linear-gradient(135.15deg,#01796F , #fff);*/
    color:#000;
    text-align: center;
}

.titulo-paragrafo-principal{
    /*border-top: 0.4px solid #000;*/
}

.texto-titulo-paragrafo{
	font-family: 'Montserrat', sans-serif;
    font-size: large;
    font-weight: 100;
}

body{
    margin: 0;
    padding: 0;
    font-size: 100%;
    /*background: linear-gradient(68.15deg, #d8d8d8 15.62%, #ffffff 16.61% );*/
    color: rgb(0, 0, 0);
}

.logo{
    width: 310px;
    height: auto;
    border-radius: 0%;
    display: block;
}

.cabecalho{
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #000;
}

.cabecalho-menu-item{
    color: #fff;
    font-family: 'Righteous', cursive;

}

.cabecalho-menu-item:hover{
    color: #01796F;
    transition: 0.9s;
}

.sumario{
    padding-left: 75px;
    font-weight: 700; 
    line-height: 0.50;
    font-family: 'Montserrat', sans-serif;
}

.secoes{
    color: black;
}

.secoes:hover{
    color: #01796F;
    transition: 0.9s;
}

.content{
    /*border-top: 0.4px solid #000;*/
    padding-left: 70px;
    padding-right: 70px;
}

.introducao-paragrafo{
    text-indent: 55px;
    font-family: 'Montserrat', sans-serif;
}

.cdb-paragrafo{
    text-indent: 55px;
    font-family: 'Montserrat', sans-serif;
}

.img-cdb{
    display: block; 
    margin: 0 auto; 
    width: 500px;
    height: auto;
    padding-top: 0px;
}

.poupanca-paragrafo{
    text-indent: 55px;
    font-family: 'Montserrat', sans-serif;
}

.lca-paragrafo{
    text-indent: 55px;
    font-family: 'Montserrat', sans-serif;
}

.lci-paragrafo{
    text-indent: 55px;
    font-family: 'Montserrat', sans-serif;
}

.cdb-ul{
    padding-left: 35px;
    font-weight: bold; 
    line-height: 0.50;
    font-family: 'Montserrat', sans-serif;
}

.conclusion-text{
    font-family: 'Montserrat', sans-serif;
}

.referencias-texto{
    color: #000;
    font-size: 12px;
    line-height: 0;
    font-family: 'Montserrat', sans-serif;
}

.rodape{
	margin-top: 100px;
	padding: 32px;
	border-top: 0.4px solid #000;
}

.rodape-imagem{
	height: 40px;
	display: block;
	margin: 0 auto;
}