*{
    padding: 0;
    /*box-sizing: border-box;*/
    text-decoration: none;
}

body{
    margin: 16px;
    font-size: 100%;
    margin: 12px;   
    /* background: linear-gradient(68.15deg, #d8d8d8 15.62%, #ffffff 16.61% ); */
    color: rgb(0, 0, 0);
    /*background-color: #000;*/
}

ul {
    list-style-type: circle;
    padding: 0px;
    margin-left: 35px;
}

li {
    margin-left: 20px;
}

a {
    text-decoration:dashed;
    color: #000;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: palevioletred;
    transition: 8s;
}

.introducao{
    margin: 35px;
    text-indent: 0;
    display: inline;
    gap: 5px;
}

.acao-titulo{
    font-weight: bolder;
    font-size: large;
    margin: 25px;
}

.fii-titulo{
    font-weight: bolder;
    font-size: large;
}

h2{
    font-weight: 700;
    margin: 35px;
}

.conteudo-principal{
    margin-bottom: 48px;
	border-top: 0.4px solid rgb(23, 21, 21);
}

.logo{
    width: 310px;
    height: auto;
    border-radius: 0%;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
    font-family: 'Sarala', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 18px;
}

h1{
    margin: 25px;
    display: flex;
}

p{
    font-size: 16px;
    color: #000;
    margin: 20px 0;
    gap: 5px;
}


.rodape{
	margin-top: 100px;
	padding: 32px;
	border-top: 0.4px solid #000;
}

.rodape-imagem{
	height: 40px;
	display: block;
	margin: 0 auto;
}