*{
    padding: 15px;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.logo{
    display:flex;
    justify-content: right;
    border-radius: 50%;
    height: 200px;
    width: auto;
}

h1{
    font-size: 57px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    display: flex;
    text-align: left;
}

.introducao{
    font-size: x-large;
    color: #000;
}

.italico{
    color: rgb(89, 112, 109);
}

.botao-container{
    display: flex;
    justify-content: center;
    gap: 250px;
}

.botao-container button{
    background-color: #899cad;
    color: #fff;
    padding: 40px 80px;
    border: none;
    border-radius: 10%;
    cursor: pointer;
}

a{
    color: black;
    display: flex;
    margin: 0 10px;
    justify-content: center;
    text-decoration: none;
    padding: 0 10px;
    line-height: 40px;
    transition: 0.8s;
}

.ticker-container {
    padding: 10px 0;
    background-color: #fff;
    overflow:hidden;
}

.ticker-disclaimer {
    color: #fefdfd;
    text-transform: lowercase;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    background: #f5f5f5;
    padding: 16px 10px 17px;
    position: absolute;
    right: 0;
    pointer-events: none;
    top: 0;
    border-left: 1px solid #e2e4e3;
}

.ticker-container .ticker-carroussel::-webkit-scrollbar {
    display: none;
}

.ticker-container .ticker-content {
    white-space: nowrap;
    animation: marquee 40s linear 8s infinite;
    display: inline-block;
}

.ticker-container:hover .ticker-content {
    animation-play-state: paused;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0)
    }

    100% {
        transform: translate(-100%, 0)
    }
}

.ticker-container {
    padding: 10px 0;
    background-color: #fff;
    overflow: hidden;
}

.ticker-disclaimer {
    color: #000;
    text-transform: lowercase;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    background: #f5f5f5;
    padding: 16px 10px 17px;
    position: absolute;
    right: 0;
    pointer-events: none;
    top: 0;
    border-left: 1px solid #f5f5f5;
}

.ticker-container .ticker-carroussel::-webkit-scrollbar {
    display: none;
}

.ticker-container .ticker-content {
    white-space: nowrap;
    animation: marquee 40s linear 8s infinite;
    display: inline-block;
}

.ticker-container:hover .ticker-content {
    animation-play-state: paused;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0)
    }

    100% {
        transform: translate(-100%, 0)
    }
}

.ticker-container .ticker-content .ticker-content-aditional {
    float: right;
    position: absolute;
    display: inline-block;
}

.indicador {
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 0.8px;
    position: relative;
    color: inherit;
    padding: 6px 20px;
    border-right: 1px solid #ffffff;
    display: inline-block;
    text-align: left;
}

.indicador .indicador-title {
    margin-right: 8px;
    font-weight: 900;
}

.indicador .indicador-value {
    margin-right: 8px;
}

.indicador .indicador-spread {
    padding: 3px 7px;
    border-radius: 3px;
    color: #ffffff;
    transition: top 0s 0.5s ease ;
}

.indicador.negativo .indicador-spread {
    background-color: #AD1A1A;
}
.indicador.positivo .indicador-spread {
    background-color: #01654A;
}